 .activity {
     padding-bottom: 94px;
 }

 .activity__list {
     display: flex;
     justify-content: space-between;
 }

 .activity__item {
     position: relative;
 }

 .activity__text {
     position: absolute;
     bottom: 0;
     left: 0;
     padding: 27px 10px;
     width: 100%;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #FFFFFF;
     background-color: rgba(47, 48, 58, 0.8);
 }