.btn-primary {
    padding: 10px 32px;
    cursor: pointer;
    color: $white-color;
    background-color: $accent-color;
    border: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color $trans-value;

    &:hover,
    &:focus {
        background-color: $active-color;
    }
}

.btn-secondary {
    padding: 6px 22px;
    cursor: pointer;
    color: $text-primary-color;
    background-color: $bg-middle-color;
    border: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    transition: color $trans-value, background-color $trans-value,
        box-shadow $trans-value;

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.footer__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    transition: background-color $trans-value, box-shadow $trans-value;
}