// .feature-list {
//     // display: flex;
//     // gap: 30px;
// }

// .feature-list__item {
//     flex-basis: calc((100% - 90px) / 4);
// }

.feature-list__thumb {
    min-width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $bg-middle-color;
    border-radius: 4px;
}

.feature-list__icon {
    width: 70px;
    height: 70px;
}

.feature-list__title {
    color: $text-primary-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}