.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-dark-color;
}

.footer__container {
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    }
   
}

.footer__first-wrap {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;  
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 76px;
      margin-right: 165px;  
    }
    @media screen and (min-width: 1200px) {
    margin-right: 70px;
    }
    
    @media screen and (max-width: 1199px) {
    text-align: center;
    }
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}
.footer__secondary-wrap {
    @media screen and (max-width: 1199px){
    display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__link {
    color: $white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color $trans-value;

    &--opacity {
        color: $opacity-color;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer__invite {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}

.footer__last-wrap {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
  
    @media screen and (max-width: 1199px) {
    display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    
   
}

.footer__form {
@media screen and (min-width: 1200px) {
display: flex;
}
   
   
   
}


.footer__input {
    
    width: 90vw;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }
        @media screen and (min-width: 480px) {
            width: 450px;
            margin-right: 12px;
        }
    @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    }
}

.footer__send-icon {
    margin-left: 10px;
    fill: $white-color;
}