 .logo {
     font-family: Raleway, sans-serif;
     font-size: 24px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     color: $black-color;

     @media screen and (min-width: 1200px) {
        font-size: 26px;
     }

     &--accent {
         color: $accent-color;
     }

     &--dark-theme {
         display: block;
         margin-bottom: 20px;
         color: $white-color;
     }
 }

 .site-nav__logo {
    padding-top: 16px;
        padding-bottom: 16px;
    @media screen and (min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
            margin-right: 88px;
        }
    @media screen and (min-width: 1200px) {
    padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }
    
 }