.menu-container {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
 background-color: $white-color; 
 padding: 20px;  
 text-align: center;
 font-size: 40px;
 &.is-open {
    display: block;
 }
}
.menu-container__list {
    display: flex;
}
.menu-container__link {
    font-family: 'Roboto';
    color: $accent-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
}