.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
    width: 330px;
    }
    @media screen and (min-width: 768px) {
    justify-content: center;
        margin-bottom: 30px;
    }
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    
}

.filter-buttons__item:not(:last-child) {
    margin-right: 8px;
    
}
.projects {
    @media screen and (min-width: 768px) {
    display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
.projects__item {
    @media screen and (max-width: 767px){
    &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
        }
    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
    }
    
    transition: box-shadow $trans-value;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__thumb {
    position: relative;
    overflow: hidden;
}

.projects__overlay {
    position: absolute;
    content: '';
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform $trans-value;
    .projects__item:focus &,
    .projects__item:hover & {
        transform: translateY(0);
    }
}

.projects__lead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 402px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-color;
    @media screen and (min-width: 768px) {
        width: 306px;
    }
        @media screen and (min-width: 1200px) {
            width: 322px;
        }
}

.projects__text {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
.projects__title {
    color: $text-primary-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project__desc {
    
    color: $text-secondary-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}