body {
    background-color: $white-color;
    color: $text-secondary-color;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 768px){
    width: 768px;
    }
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
            padding-bottom: 94px;
        }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 .caption {
     margin-bottom: 50px;
     color: $text-primary-color;
     font-weight: 700;
     font-size: 28px;
     line-height: 1.17;
     text-align: center;
     letter-spacing: 0.03em;
     @media screen and (min-width: 1200px) {
    font-size: 36px;
     }
 }