 $bg-light-color: #F5F5F5;
 $bg-middle-color: #F5F4FA;
 $bg-dark-color: #2F303A;
 $text-primary-color: #212121;
 $text-secondary-color: #757575;
 $accent-color: #2196F3;
 $white-color: #FFFFFF;
 $black-color: #000000;
 $opacity-color: rgba(255, 255, 255, 0.6);
 $active-color: #188CE8;
 $icon-color: #AFB1B8;
 $trans-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);